<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Webapp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    </head>
    <body>
        "add2" remote procedure: {{ data.x }} + {{ data.y }} = {{ data.result }}
        <br>
        <a href="/led">LED management</a>
        <div class="text-center">
            <a href="{{ url_for('homepage') }}"><i class="fa fa-calendar fa-6"></i></a>
        </div>
    </body
</html>
